body {
    font-size: 20px;
    width: 75%;
    margin: 0 auto;
    height: 100vh;
    border: 5px solid #999;
}

h1 {
    height: 20vh;
    margin: 0;
    background: #333;
    color: #CCC;
    text-align: center;
    padding: 1em;
}

main {
    padding: 2em;
    /* border: 1px solid red; */
    box-sizing: border-box;
}

.selectLevelText,
.playGround,
.results {
    width: 45em;
    padding: 0;
    margin: 2em auto;
    border: 1px solid black;
}

.play-status {
    margin: 2em;
}


/* common classes */

.hidden {
    display: none;
}